#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#application-container {
    display: flex;
    flex-direction: row;
    max-height: 55rem;
    max-width: 100rem;
    height: 90%;
    width: 95%;
}

.item-prefix {
    color: #cb1431;
    font-weight: bold;
}

@media (max-width: 45rem) {
    #application-container {
        flex-direction: column;
        width: 90%;
        height: 95%;
        max-height: none;
    }
}
