#root {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3rem;
}

.item-prefix {
    color: #cb1431;
    font-weight: bold;
}

@media (max-width: 45rem) {
    #root {
        flex-direction: column;
        overflow: scroll;
    }
}
